/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: white;
  color: black;
  font-family: Verdana;
  
}
.a {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
}
.div.nth-child(1) i {
  animation-delay: 1s;
}
.div.nth-child(2) i {
  animation-delay: 1s;
}
@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

h1 {
  -webkit-text-fill-color: #CCC;
  -webkit-text-stroke: 1px #111;
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #660073, 0 0 40px #660073, 0 0 50px #660073, 0 0 60px #660073, 0 0 70px #660073, 0px 0px 0 rgb(130,62,208),
                 0px 1px 0 rgb(113,45,191),
                 0px 2px 0 rgb(97,29,175),
                 0px 3px 0 rgb(80,12,158),
                 0px 4px 0 rgb(64,-4,142),
                 0px 5px 0 rgb(48,-20,126),
                 0px 6px 0 rgb(31,-37,109),
                 0px 7px 0 rgb(15,-53,93),
                 0px 8px 0 rgb(-2,-70,76),
                 0px 9px 0 rgb(-18,-86,60),
                 0px 10px  0 rgb(-34,-102,44),
                 0px 11px 10px rgba(0,0,0,0.6),
                 0px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #777777, 0 0 40px #777777, 0 0 50px #777777, 0 0 60px #777777, 0 0 70px #777777, 0 0 80px #777777, 0px 0px 0 rgb(130,62,208),
                 0px 1px 0 rgb(113,45,191),
                 0px 2px 0 rgb(97,29,175),
                 0px 3px 0 rgb(80,12,158),
                 0px 4px 0 rgb(64,-4,142),
                 0px 5px 0 rgb(48,-20,126),
                 0px 6px 0 rgb(31,-37,109),
                 0px 7px 0 rgb(15,-53,93),
                 0px 8px 0 rgb(-2,-70,76),
                 0px 9px 0 rgb(-18,-86,60),
                 0px 10px  0 rgb(-34,-102,44),
                 0px 11px 10px rgba(0,0,0,0.6),
                 0px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
  }

}