#crtAndBootContainer {
  margin: auto;
  width: fit-content;
}

.crtborderHighlight {
  background: linear-gradient(35deg, #b9b39c 10%, #fffef8 70%, #fffffe 100%);
  border-radius: 10px;
  padding: 3px;
  width: fit-content;
}

.crtBorder {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 100px;
  background: rgb(255, 250, 226);
  background: linear-gradient(45deg, #ded8bd 0%, #fffae2 100%);
  border-radius: 8px;
  width: calc((70vh + 120px * 1.25));
}

.innerCrtBorder {
  border: inset #b9b39c;
  border-width: 2px 8px 2px 8px;
  border-radius: 2px;
}

.crtStand {
  height: 80px;
  width: 600px;
  margin: auto;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background: linear-gradient(90deg, #787466 0%, #999481 4%, #b9b39c 40%, #cbc6af 50%, #b9b39c 60%, #999481 96%, #787466 100%);
  box-shadow: inset 0px 10px 11px 2px #00000047, inset 0px 5px 11px 1px #00000020;
}

.crtStandContainer {
  background: linear-gradient(0deg, #b3ae97 0%, #b3ae97 14.2%, #e9e4ca 15%, #a39e8a 15.8%, #555349 62%, #000000 100%);
  margin: auto;
  width: 750px;
  height: 115px;
  box-shadow: inset 0px 0px 2px 0px #000000a6;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.standShadow {
  height: 97px;
  width: 100%;
  background: radial-gradient(#00000066 0%, #00000000 60%, #00000000 100%);
}

#screen {
  background-color: #000;
}

#aboutDialog {
  display: none;
  position: absolute;
  top: 150px;
  color: #fff;
  background-color: #00c;
  border: 6px solid #fff;
  border-style: double;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 20px 20px #000;
}

@media only screen and (min-width:680px) {
  #aboutDialog {
    padding: 20px;
    width: 600px;
    left: calc(50% - 345px);
  }
}

@media only screen and (max-width:679px) {
  #aboutDialog {
    padding: 16px;
    width: unset;
    left: 0;
  }
}

#aboutDialog a {
  text-decoration: none;
  color: #ff0;
}

#bootScreen {
  margin: auto;
  /* max-width: 1024px; */
  height: 70vh;
  background-color: #00c;
  padding: 16px;
  user-select: none;
  overflow: hidden;
  border: 4px solid #000;
  box-shadow: inset 3px -3.5px 20px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 3px 0px rgba(0, 0, 0, 0.96);
}

.biosButton {
  background-color: transparent;
  border: 4px solid #ff0;
  border-style: double;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1px;
  height: fit-content;
  min-width: 70px;
}

.biosTextMain {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}

.biosTextSub {
  font-size: 16px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: #c2c2c2;
}

#closeAbout {
  display: block;
  margin: auto;
}

.warning {
  font-size: 17px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: #ff0000;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

#biosTitle {
  margin-top: -8px;
  margin-bottom: 0;
  letter-spacing: 4px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}

.biosHrMain {
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-left: 0;
  border-right: 0;
  border-style: double;
}

.biosHrSub {
  border: 2px solid #fff;
}

.flexBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#freshInstallInfo {
  display: none;
}

#privPol {
  display: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width:1023px),
screen and (max-height: 780px) {
  .crtBorder {
    padding: 0;
    background-color: #000;
    width: unset;
  }

  .crtborderHighlight {
    background: #000;
    border-radius: unset;
    padding: 0;
  }

  .innerCrtBorder {
    border: unset;
  }

  .crtStand,
  .crtStandContainer,
  .standShadow {
    display: none;
  }

  #bootScreen {
    height: unset;
    min-height: 90vh;
    box-shadow: unset;
  }
}