.crtborderHighlight {
  background: linear-gradient(35deg, #b9b39c 10%, #fffef8 70%, #fffffe 100%);
  border-radius: 10px;
  padding: 3px;
  width: fit-content;
  margin: auto;
}

.crtBorder {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 100px;
  background: rgb(255, 250, 226);
  background: linear-gradient(45deg, #ded8bd 0%, #fffae2 100%);
  border-radius: 8px;
  width: calc((70vh + 120px * 1.25));
}

.innerCrtBorder {
  border: 2px inset #b9b39c;
  border-radius: 2px;
}

@media only screen and (max-width:1023px) {
  .crtBorder {
    padding: 0;
    background-color: #000;
    width: unset;
  }

  .crtborderHighlight {
    background: #000;
    border-radius: unset;
    padding: unset;
  }

  .innerCrtBorder {
    border: unset;
  }
}

#screen {
  background-color: #000;
}

#aboutDialog {
  display: none;
  position: absolute;
  top: 100px;
  color: #fff;
  background-color: #00c;
  border: 6px solid #fff;
  border-style: double;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 20px 20px #000;
}

@media only screen and (min-width:680px) {
  #aboutDialog {
    padding: 40px;
    width: 600px;
    left: calc(50% - 345px);
  }
}

@media only screen and (max-width:679px) {
  #aboutDialog {
    padding: 20px;
    width: unset;
    left: 0;
  }
}

#aboutDialog a {
  text-decoration: none;
  color: #ff0;
}

#bootScreen {
  margin: auto;
  max-width: 1024px;
  height: 70vh;
  background-color: #00c;
  padding: 16px;
  user-select: none;
  overflow: hidden;
  border: 4px solid #000;
  box-shadow: inset 3px -3.5px 20px 0px rgba(0,0,0,0.2), inset 0px 0px 3px 0px rgba(0,0,0,0.96);
}

.biosButton {
  background-color: transparent;
  border: 4px solid #ff0;
  border-style: double;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1px;
  height: fit-content;
  min-width: 70px;
}

.biosTextMain {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}

.biosTextSub {
  font-size: 16px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: #c2c2c2;
}

#closeAbout {
  display: block;
  margin: auto;
}

.warning {
  font-size: 17px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: #ff0000;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

#biosTitle {
  margin-top: -8px;
  margin-bottom: 0;
  letter-spacing: 4px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}

.biosHrMain {
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-left: 0;
  border-right: 0;
  border-style: double;
}

.biosHrSub {
  border: 2px solid #fff;
}

.flexBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#freshInstallInfo {
  display: none;
}

#privPol {
  display: absolute;
  bottom: 0;
  left: 0;
}