:root {
  --primColor: #ea9318;
  --secColor: #ccc;
  --secColorLight: #e7e7e7;
  --secColorDark: #aaa;
  --guiPadding: 2px;
  --borderWidth: 2px;
  --programBarHeight: 48px;
  --headerBarHeight: 34px;
  --windowControlButtonWidth: 30px;
  --bgRepeat: no-repeat;
  --bgAttachment: fixed;
  --bgSize: 100% 100%;
  /* gui.js will update this var on OS start */
  --bgBlobURL: "";
}

@font-face { 
  font-family: "Ark Pixel 12px Proportional latin";
  /* gui.js will update this src on OS start */
  src: "";
}

* {
  box-sizing: border-box;
  font-family: "Ark Pixel 12px Proportional latin";
}

body {
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}

#guiDriver {
  height: 100vh;
  overflow: hidden;
}

.osElemBase {
  background-color: var(--secColor);
  padding: var(--guiPadding);
}

.windowRidgeBorder {
  border: calc(var(--borderWidth)* 3) ridge var(--secColorDark);
}

input {
  border: var(--borderWidth) inset var(--secColorDark);
}

input:focus {
  outline: none;
}

textarea {
  border: 1px solid var(--secColorDark);
}

textarea:focus {
  outline: none;
}

input[type='radio'],
input[type='checkbox'] {
  accent-color: #000;
  cursor: pointer;
}

#programBar {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--programBarHeight);
  border: var(--borderWidth) outset var(--secColorDark);
}

hr {
  border-color: var(--secColorDark);
}

.oSButton {
  border: var(--borderWidth) outset var(--secColorDark);
  cursor: pointer;
}

.oSButtonDashed {
  border: var(--borderWidth) dashed #000;
  background-color: transparent;
  cursor: pointer;
}

.oSButton:hover {
  background-color: var(--secColorLight);
}

.prgrmBarPrgrmBtn {
  transform: translateY(-5.125px);
  height: 100%;
}

.windowControlButton {
  width: var(--windowControlButtonWidth);
  height: 100%;
}

.menuButtonInside {
  line-height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2px;
}

.menuIcon {
  margin-right: 2px;
  font-size: 24px;
  font-weight: 800;
  color: var(--primColor);
  filter: brightness(0.8);
}

.programMenuIcon {
  margin-right: 4px;
}

#menuButton {
  margin-right: 8px;
}

#mainMenu {
  z-index: 999;
  position: fixed;
  bottom: var(--programBarHeight);
  left: 0;
  width: 200px;
  display: none;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.25);
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

#clock {
  position: relative;
  float: right;
  height: 100%;
  border: var(--borderWidth) inset var(--secColorDark);
  padding: var(--guiPadding);
}

.menuHeader {
  font-size: 18px;
  font-weight: 600;
  height: var(--headerBarHeight);
  width: 100%;
  background-color: var(--primColor);
  border: calc(var(--borderWidth)* 2) ridge var(--primColor);
  user-select: none;
}

.menuHeaderTitle {
  float: left;
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#menuContent {
  border-left: calc(var(--borderWidth)* 2) ridge var(--secColorDark);
  border-right: calc(var(--borderWidth)* 2) ridge var(--secColorDark);
  height: fit-content;
}

.window {
  position: absolute;
  width: fit-content;
  background-color: var(--secColor);
}

.program {
  padding: 4px;
  height: 100vh;
}

.alertText {
  width: 300px;
  margin: 10px;
}

.underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 2 2'%3E%3Crect width='1' height='1' fill='%23000'/%3E%3Crect x='1' y='1' width='1' height='1' fill='%23000'/%3E%3C/svg%3E");
  background-size: 2px 2px;
  z-index: 9998;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar:horizontal {
  height: 20px;
}

::-webkit-scrollbar-track {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-thumb {
  background-color: var(--secColor);
  border: var(--borderWidth) outset var(--secColorDark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secColorLight);
}

#screen {
  overflow: hidden;
  background-repeat: var(--bgRepeat);
  background-attachment: var(--bgAttachment);
  background-size: var(--bgSize);
  background-image: var(--bgBlobURL);
}
