:root {
  --primColor: #d81;
  --secColor: #ccc;
  --guiPadding: 2px;
  --borderWidth: 2px;
  --programBarHeight: 32px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#guiDriver {
  height: 100vh;
  overflow: hidden;
}

.osElemBase {
  background-color: var(--secColor);
  padding: var(--guiPadding);
}

.windowRidgeBorder {
  padding: 4px;
  border-right: calc(var(--borderWidth)* 2) ridge;
  border-left: calc(var(--borderWidth)* 2) ridge;
  border-bottom: calc(var(--borderWidth)* 2) ridge;
}

#programBar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--programBarHeight);
  border: var(--borderWidth) outset;
}

.oSButton {
  font-family: 'Times New Roman', Times, serif;
  border: var(--borderWidth) outset;
  cursor: pointer;
}

#menuButton {
  height: 100%;
}

#mainMenu {
  position: fixed;
  bottom: var(--programBarHeight);
  left: 0;
  width: 200px;
  display: none;
}

.menuHeader {
  font-size: 18px;
  font-weight: 600;
  padding: 4px;
  height: 32px;
  width: 100%;
  background-color: var(--primColor);
  border: calc(var(--borderWidth)* 2) ridge var(--primColor);
}

#menuContent {
  border-left: calc(var(--borderWidth)* 2) ridge;
  border-right: calc(var(--borderWidth)* 2) ridge;
  min-height: 300px;
}

.window {
  width: 600px;
  height: 400px;
}