:root {
  --primColor: #080848;
  --secColor: #4baff3c0;
  --secColorLight: #a3d3fff0;
  --secColorDark: #2e489e80;
  --guiPadding: 2px;
  --borderWidth: 2px;
  --programBarHeight: 48px;
  --headerBarHeight: 34px;
  --windowControlButtonWidth: 30px;
  --borderRadius: 6px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}

#guiDriver {
  height: 100vh;
  overflow: hidden;
}

.osElemBase {
  background-color: var(--secColor);
  padding: var(--guiPadding);
}

.windowRidgeBorder {
  border: calc(var(--borderWidth)* 2) solid transparent;
}

input {
  border: var(--borderWidth) inset var(--secColorDark);
  border-radius: var(--borderRadius);
}

input:focus {
  outline: none;
}

textarea {
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid var(--secColorDark);
  border-radius: var(--borderRadius);
}

textarea:focus {
  outline: none;
}

input[type='radio'], input[type='checkbox'] {
  accent-color: #000;
  cursor: pointer;
}

#programBar {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--programBarHeight);
  border: var(--borderWidth) outset var(--secColorDark);
}

.oSButton {
  font-family: 'Times New Roman', Times, serif;
  border: var(--borderWidth) outset var(--secColorDark);
  border-radius: var(--borderRadius);
  cursor: pointer;
}

.oSButton:hover {
  background-color: var(--secColorLight);
}

.prgrmBarPrgrmBtn {
  height: 40px;
  transform: translateY(-3.5px);
}

.windowControlButton {
  width: var(--windowControlButtonWidth);
  height: 100%;
}

.menuButtonInside {
  line-height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2px;
}

.menuIcon {
  margin-right: 2px;
  font-size: 24px;
  font-weight: 800;
  transform: translateY(4px);
  color: var(--primColor);
  filter: brightness(0.8);
}

#menuButton {
  margin-right: 8px;
}

#mainMenu {
  z-index: 999;
  position: fixed;
  bottom: var(--programBarHeight);
  left: 0;
  width: 200px;
  display: none;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.25);
}

#clock {
  position: relative;
  float: right;
  height: 100%;
  border: var(--borderWidth) inset var(--secColorDark);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--guiPadding);
}

.menuHeader {
  font-size: 18px;
  font-weight: 600;
  height: var(--headerBarHeight);
  width: 100%;
  background-color: var(--primColor);
  border: calc(var(--borderWidth)* 2) ridge var(--primColor);
  user-select: none;
  color: #fff;
}

.menuHeaderTitle {
  float: left;
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#menuContent {
  border-left: calc(var(--borderWidth)* 2) ridge var(--secColorDark);
  border-right: calc(var(--borderWidth)* 2) ridge var(--secColorDark);
  height: fit-content;
}

.window {
  position: absolute;
  width: fit-content;
  background-color: var(--secColor);
}

.program {
  padding: 4px;
  height: 100vh;
}

.alertText {
  width: 300px;
  margin: 10px;
}

.underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar:horizontal {
  height: 20px;
}

::-webkit-scrollbar-track {
  border-radius: var(--borderRadius);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-thumb {
  background-color: var(--secColor);
  border: var(--borderWidth) outset var(--secColorDark);
  border-radius: var(--borderRadius);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secColorLight);
}

#screen {
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: linear-gradient(45deg, #6f97c4,  #a8daff , #c6e6ff , #fff);
}